<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body>
    <div class="container center-block">
        <h1>
            <%= title %> <small>(辅助开发)</small>
        </h1>
        <ul class="list-group">
            Resuful 数据服务
            <li class="list-group-item">
                基础数据:
                <a href="#" target="_blank">接口
                    <small>(Resuful)</small>
                </a> |
                <a href="#" target="_blank">文档
                    <small>(Docs)</small>
                </a>|
            </li>
        </ul>
    </div>
    <script src="/javascripts/jquery-1.11.3.min.js"></script>

</body>

</html>